userEmail=elte-selenium-test@chapsmail.com
username=Selenium Test
password=BruhBruh0808

forms.firstName=Selenium
forms.lastName=Tester
forms.email=selenium@test.com
forms.countryCodeValue=36
forms.phone=1234567890
forms.address1=Your PC
forms.address2=Earth
forms.state=None
forms.postalCode=0000
forms.country=Hungary
forms.date=13042001

mailapi.url=https://inboxes-com.p.rapidapi.com/
mailapi.key=06641417e7msh655348584352aaep1fd57ejsnedf89971aae3
mailapi.host=inboxes-com.p.rapidapi.com